*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}
form{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
input,button{
	padding: 10px;
}
button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #5C6AC4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a5cb8; /* Darker color on hover */
}
#container{

	display: flex;
	gap: 12px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}